<footer class="footer my-5">
    <div class="row">
        <div class="col-md-4">
            <h4>KNJIŽARE VULKAN D.O.O.</h4>
            <p>011 4540900 (pon-subota 9 do 16h)</p>
            <p>Sremska 2 11000 Beograd</p>
            <p>info@knjizare-vulkan.rs</p>
            <p>Račun:</p>
            <p>Banka Intesa 160-336484-06</p>
            <p>Šifra delatnosti:</p>
            <p>4761</p>
            <p>PIB:</p>
            <p>106614339</p>
            <p>Matični broj:</p>
            <p>20644834</p>
        </div>
        <div class="col-md-4">
            <h4>INFORMACIJE</h4>
            <ul class="list-unstyled">
                <li>NOVOSTI</li>
                <li>NAŠE KNJIŽARE</li>
                <li>O nama</li>
                <li>Najčešća pitanja</li>
                <li>Vulkan klub</li>
                <li>POSAO</li>
            </ul>
        </div>
        <div class="col-md-4">
            <h4>KORISNIČKI SERVIS</h4>
            <ul class="list-unstyled">
                <li>Uslovi korišćenja</li>
                <li>Izjava o privatnosti i sigurnosti podataka</li>
                <li>Načini plaćanja</li>
                <li>Isporuka</li>
                <li>Reklamacije</li>
                <li>Kako kupiti</li>
                <li>Pravo na odustajanje</li>
                <li>Autorska prava</li>
                <li>Šta dobijam registracijom?</li>
            </ul>
        </div>
        <div class="col-md-4">
            <h4>Pratite nas</h4>
            <div class="social-media-icons">
                <!-- Social media icons -->
            </div>
        </div>
    </div>
</footer>

<div class="payment-methods my-5">
    <img src="assets/images/footer.jpg" class="last-image">
</div>

<p class="text-center rights-reserved">Sva prava zadržana - Uroš Subić 528/20</p>