.navbar {
    position: fixed;
    top: 30px;
    left: 0;
    width: 100%;
    background-color: #f8f8f8;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    z-index: 999;
}

.logo img {
    width: 30px;
}

.nav-tabs {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.nav-tabs li {
    margin-right: 20px;
}

.nav-tabs li a {
    text-decoration: none;
    color: #333;
}

.dropdown {
    position: relative;
}

.dropdown-toggle::after {
    content: '\25BE';
    margin-left: 5px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.message-line {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    z-index: 9999;
}

.message {
    text-align: center;
    font-size: 14px;
}

.cart-icon {
    color: white;
    text-decoration: none;
    margin-left: 10px;
    font-size: 20px;
}