<app-slideshow-banner></app-slideshow-banner>
<app-book-list [message]="'TOPLISTA'" [tip]="'TOPLISTA'"></app-book-list>
<app-book-list [message]="'Popularni klasici'" [tip]="'KLASIK'"></app-book-list>
<img src='assets/images/banner4.jpg' class="last-image">
<app-book-list [message]="'Popularni trileri'" [tip]="'TRILER'"></app-book-list>
<app-book-list [message]="'Popularni romani'" [tip]="'ROMAN'"></app-book-list>
<img src='assets/images/banner1.jpg' class="last-image">
<app-book-list [message]="'Popularne decije knjige'" [tip]="'DECIJE'"></app-book-list>
<img src='assets/images/banner5.jpg' class="last-image">
